@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins:wght@300&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins:wght@300;400&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500;600&family=Poppins:wght@300;400&family=Roboto:wght@300;400&display=swap");

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  width: 338px;
  display: flex;
  justify-content: center;
}

body {
  width: 364px;
}

/* top heading for main page */

.heading {
  position: relative;
  align-items: center;
  margin-left: 40px;
  width: 376px;
  height: 92px;
  display: flex;
  justify-content: space-between;
  background: #3c3a39;
}

.heading-text {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-left: 21px;
  font-family: "Roboto", sans-serif;
}

#desktop-nav-bar {
  display: none;
}

.top-nav-bar {
  width: 100%;
}

#navigation-bar {
  margin-right: 12%;
}

.mobile-div {
  display: none;
  position: absolute;
  height: 687px;
  left: 4px;
  z-index: 98;
  width: 382px;
  background-color: #3c3a39;
}

.mobile-div ul {
  width: 80%;
  padding-top: 80px;
  margin: 0
  ;
}

.mobile-menu {
  padding-top: 95px;
  padding-left: 75px;
}

.mobile-div li a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #FFF5E1;
  text-decoration: none;
}

.mobile-div li {
  margin-bottom: 13px;
}

.mobile-div hr {
  background: #000;
}

#close-menu {
  display: flex;
  justify-content: flex-end;
  padding-top: -66px;
  position: relative;
  top: -24px;
}

.items {
  width: 20px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 4px;
  margin-left: -294%;
}

/* body for main page */

.main-page {
  display: grid;
  background: #1c1a19;
  position: absolute;
  width: 375px;
  height: 595px;
  left: 10px;
  top: 100px;
}

.main-text {
  width: 327px;
  height: 124px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 114%;
  letter-spacing: 0.37px;
  color: #ff6b00;
  padding-left: 19px;
  margin-bottom: 0;
  padding-top: 60px;
}

.main-page-text {
  width: 364px;
}

.profession {
  width: 331px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #fff5e1;
  padding-left: 19px;
}

.main-description {
  width: 355px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-left: 20px;
  line-height: 24px;
  margin-top: -3px;
  color: #fff;
}

/* social media icons */

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -5px;
  margin-left: -21px;
  text-decoration: none;
  width: 219px;
}

.social-div {
  width: 259px;
}

.social-icons {
  text-decoration: none;
}

/* background image main-page */

#background-main {
  background-image: url("./images/background1.png");
  background-repeat: no-repeat;
  background-position-x: 241px;
  background-position-y: 324px;
}

.soc-ico:hover {
  background-color: #3c3a39;
}

ul {
  list-style-type: none;
}

/* my recent work page */

.second-page {
  width: 328px;
  margin-top: 130px;
  margin-left: 23px;
}

.second-heading {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  text-align: center;
}

/* second page first image */

.second-background {
  row-gap: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 74px;
}

/* multi post stories section  */

.recent-work-heading {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  margin-top: 18px;
}

.recent-work-para {
  letter-spacing: 0.4px;
  margin-top: -13px;
  width: 333px;
  height: 147px;
  font-family: "inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  font-style: normal;
}

/* languages cards */

.languages {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border: #091e42;
  box-sizing: content-box;
  justify-content: space-evenly;
}

.item1 {
  font-family: "inter", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 38px;
  margin-top: 2px;
  color: #091e42;
  margin-left: -279px;
  width: 49px;
  height: 40px;
  text-align: center;
  position: absolute;
  border: 1px solid #8993a4;
}

.item2 {
  font-family: "inter", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 38px;
  margin-top: 2px;
  color: #091e42;
  margin-left: -151px;
  width: 56px;
  height: 40px;
  text-align: center;
  position: absolute;
  border: 1px solid #8993a4;
}

.item3 {
  font-family: "inter", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 38px;
  margin-top: 2px;
  color: #091e42;
  margin-left: 27px;
  width: 95px;
  height: 40px;
  text-align: center;
  position: absolute;
  border: 1px solid #8993a4;
}

.item4 {
  font-family: "inter", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 38px;
  margin-top: 2px;
  color: #091e42;
  margin-left: 207px;
  width: 61px;
  height: 40px;
  text-align: center;
  position: absolute;
  border: 1px solid #8993a4;
}

/* recent work submit */
button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  margin-top: 27px;
  height: 48px;
  border: none;
  background: #ff6b00;
  border-color: #ff6b00;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  border: 1px solid #ff6b00;
  padding: 5px;
}

.btn:active {
  background-color: #ff6b00;
  color: #f4f5f7;
  transform: scale(0.98);
}

.btn:disabled {
  background-color: #fff;
}

.button-text {
  width: 100px;
  height: 24px;
  font-family: "inter", sans-serif;
  font-style: normal;
  padding: 2px;
  font-weight: 300;
  font-size: 17px;
  color: #fff;
  line-height: 24px;
}

.button-text:hover {
  color: #ff6b00;
  font-weight: 600;
}

.button-text:active {
  color: #fff;
  font-weight: 600;
  transform: scale(0.98);
}

.button-text:disabled {
  color: #1c1a19;
}

/* professional art cards */

.professional-art {
  left: -21px;
  position: relative;
  display: grid;
  grid-column: 1;
  justify-content: start;
  align-content: space-evenly;
}

.professional-art-text {
  width: 327px;
  margin-top: 20px;
  padding-left: 14px;
  padding-top: 77px;
}

.professional-text {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.professional-text-4 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.pro-para-text {
  width: 295px;
  height: 101px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.pro-desktop {
  display: none;
}

/* skill buttons in professional section */

.card1 {
  font-family: "inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 38px;
  margin-top: -21px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.24);
  margin-left: -39px;
  width: 56px;
  height: 40px;
  text-align: center;
  position: absolute;
  border: none;
}

.card2 {
  font-family: "inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 38px;
  margin-top: -21px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.24);
  margin-left: 31px;
  width: 95px;
  height: 40px;
  text-align: center;
  position: absolute;
  border: none;
}

.card3 {
  font-family: "inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 38px;
  margin-top: -21px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.24);
  margin-left: 140px;
  width: 61px;
  height: 40px;
  text-align: center;
  position: absolute;
  border: none;
}

/* see project button in professional skill */

.button2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 327px;
  margin-left: -14px;
  margin-top: 66px;
  height: 48px;
  border: none;
  background: #ff6b00;
}

.button-text2 {
  width: 290px;
  height: 24px;
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  padding: 14px;
  line-height: 24px;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.button2:hover {
  background-color: #fff;
  border: 1px solid #ff6b00;
  padding: 5px;
}

.button2:active {
  background-color: #ff6b00;
  color: #f4f5f7;
  transform: scale(0.98);
}

.button2:disabled {
  background-color: #fff;
}

.button-text2:hover {
  color: #ff6b00;
  font-weight: 600;
}

.button-text2:active {
  color: #fff;
  font-weight: 600;
  transform: scale(0.98);
}

.button-text2:disabled {
  color: #1c1a19;
}

/* second professional skill card  */

#pro-images-1 {
  position: relative;
  left: 22px;
  right: 0;
  width: 327px;
  height: 386px;
  top: 12px;
  bottom: 0;
  background-image: url(./images/probackground.png);
  background-repeat: no-repeat;
}

#pro-images-2 {
  position: relative;
  left: 22px;
  right: 0;
  width: 327px;
  height: 386px;
  top: 12px;
  bottom: 0;
  background-image: url(./images/probackground.png);
  background-repeat: no-repeat;
}

/* third professional skill card  */

#pro-images-3 {
  position: relative;
  left: 22px;
  right: 0;
  width: 327px;
  height: 386px;
  top: 12px;
  bottom: 0;
  background-image: url(./images/probackground.png);
  background-repeat: no-repeat;
}

/* fourth professional skill card  */

#pro-images-4 {
  position: relative;
  left: 22px;
  right: 0;
  width: 327px;
  height: 386px;
  top: 12px;
  bottom: 0;
  background-image: url(./images/probackground.png);
  background-repeat: no-repeat;
}

/* fifth professional skill card  */

#pro-images-5 {
  position: relative;
  left: 22px;
  right: 0;
  width: 327px;
  height: 386px;
  top: 12px;
  bottom: 0;
  background-image: url(./images/probackground.png);
  background-repeat: no-repeat;
}

/* sixth professional skill card  */

#pro-images-6 {
  position: relative;
  left: 22px;
  right: 0;
  width: 327px;
  height: 432px;
  top: 12px;
  bottom: 0;
  background-image: url(./images/probackground.png);
  background-repeat: no-repeat;
}

/* about me section */

.about-me {
  position: absolute;
  left: -2px;
  width: 377px;
  padding-right: -171px;
  height: 2038px;
  top: 4406px;
  background: #1c1a19;
  background-image: url(./images/group.png);
  background-repeat: no-repeat;
  background-position-x: 217px;
  background-position-y: 392px;
}

.about-me-text {
  width: 327px;
  height: 79px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  padding-left: 25px;
  padding-top: 30px;
  font-weight: 400;
  font-size: 72px;
  margin-bottom: 0;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.about-me-para {
  width: 327px;
  height: 148px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  padding-top: 12px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #f4f5f7;
}

.button3 {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  display: flex;
  color: #fff;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 161px;
  margin-left: 24px;
  height: 48px;
  margin-top: 27px;
  border: none;
  background: #ff6b00;
}

.button3:hover {
  color: #ff6b00;
  background-color: #fff;
  border: 2px solid #ff6b00;
  padding: 12px;
}

.button3:active {
  background-color: #ff6b00;
  color: #f4f5f7;
  transform: scale(0.98);
}

.button3:disabled {
  background-color: #fff;
}

.button-text3:hover {
  color: #ff6b00;
  font-weight: 600;
}

.button-text3:active {
  color: #fff;
  font-weight: 600;
  transform: scale(0.98);
}

.button-text3:disabled {
  color: #1c1a19;
}

.hoverbutton {
  background: transparent;
}

.hovbutt {
  color: transparent;
}

/* background image for about-me-page */

.about-me-background {
  width: 141px;
  top: -63px;
  position: relative;
  left: 236px;
}

.line {
  width: 320px;
  position: relative;
  top: 224px;
}

/* skills heading */

.about-me-section {
  position: relative;
  top: 330px;
  left: -15px;
}

.about-heading-skills {
  height: 33px;
  font-family: "Inter", sans-serif;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  margin-left: 25px;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
}

/* skills text */

.about-head-text-1 {
  height: 56px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 129px;
  margin-left: -22px;
  display: flex;
  color: #fff;
  gap: 12px;
  justify-content: space-around;
}

.about-head-text-2 {
  height: 56px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 129px;
  margin-left: -22px;
  display: flex;
  color: #fff;
  gap: 12px;
  align-content: center;
  justify-content: space-around;
}

.about-head-text-3 {
  height: 56px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 129px;
  margin-left: -22px;
  display: flex;
  color: #fff;
  gap: 12px;
  align-content: center;
  justify-content: space-around;
}

.about-head-text-4 {
  height: 97px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 129px;
  margin-left: -22px;
  display: flex;
  color: #fff;
  gap: 12px;
  align-content: center;
  justify-content: space-around;
}

.about-head-text-5 {
  height: 56px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 129px;
  margin-left: -22px;
  display: flex;
  color: #fff;
  gap: 12px;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

/* logo */

.diamond-img {
  position: absolute;
  left: 91px;
}

.square-img {
  position: absolute;
  left: 78px;
}

.circle-img {
  position: absolute;
  left: 133px;
}

/* contact me for */

.contact-me {
  display: flex;
  padding-top: 315px;
  justify-content: center;
}

.form-items-list {
  display: flex;
  flex-direction: column;
}

.contact-me-para {
  width: 321px;
  height: 216px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #172b4d;
  padding-top: 217px;
  padding-left: 18px;
  font-size: 32px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  line-height: 44px;
  text-align: center;
}

.lname {
  display: none;
}

input,
textarea {
  border: none;
  border-bottom: 1px solid #dbd8d7;
}

input {
  color: #979493;
  width: 287px;
  position: relative;
  left: -25px;
  top: 47px;
  padding: 26px;
  margin-bottom: 5px;
}

.name input:invalid {
  border-color: rgb(253, 6, 6);
}

.text-area {
  color: #3c3a39;
  background-color: #fbf8f7;
  width: 314px;
  padding-left: 21px;
  margin-top: 77px;
  margin-bottom: 77px;
  outline: none;
  position: absolute;
  left: 19px;
  right: 12px;
  top: 2570px;
  bottom: -794px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
}

.text-area-desktop {
  display: none;
}

.text-area::placeholder {
  color: #3c3a39;
}

.email::placeholder {
  font-size: 15px;
}

.button4 {
  display: flex;
  flex-direction: row;
  font-family: "Inter", sans-serif;
  align-items: center;
  gap: 10px;
  color: white;
  font-weight: 600;
  padding: 25px;
  width: 161px;
  margin-left: 77px;
  padding-left: 28px;
  height: 48px;
  margin-top: 275px;
  background: #ff6b00;
}

.button4:hover {
  background-color: #fff;
  border: 2px solid #ff6b00;
  padding: 23px;
  color: #ff6b00;
  font-weight: 600;
}

.button4:active {
  background-color: #ff6b00;
  color: #f4f5f7;
  transform: scale(0.98);
  font-weight: 600;
}

.button4:disabled {
  background-color: #fff;
  color: #1c1a19;
}

/* bottom dark social media Icons */

.social-media-dark {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 145px;
  margin-left: 98px;
}

/* footer line at the end */

.footer-line {
  width: 147px;
  background-color: #0d151e;
  height: 4px;
  size: 110px;
  top: -3px;
  border-radius: 10px;
  position: relative;
  left: 11px;
}

footer {
  display: inline;
}

/* Desktop Version */

@media only screen and (min-width: 768px) {
  html {
    width: 100%;
  }

  .heading {
    width: 100%;
    position: absolute;
    height: 72px;
    background: #3c3a39;
    left: 105px;
    top: 0;
    margin-left: -105px;
  }

  header {
    background: #3c3a39;
  }

  .items {
    background-color: #3c3a39;
  }

  .nav-icon {
    top: -41px;
    left: 159px;
    position: relative;
  }

  .mobile-div {
    display: none !important;
    }

  .nav1 {
    top: -32px;
    left: -70px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: 'inter', sans-serif;
    position: relative;
  }

  .nav2 {
    top: -32px;
    left: 16px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: 'inter', sans-serif;
    position: relative;
  }

  .nav3 {
    top: -32px;
    left: 78px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: 'inter', sans-serif;
    position: relative;
  }

  .heading-text {
    margin-left: 80px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
  }

  .heading-text:hover {
    animation: myAnim 1s ease 0s 1 normal forwards;
  }

  @keyframes myAnim {
    0% {
      opacity: 0;
      transform: translateX(-250px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  #navigation-bar {
    display: none;
  }

  .main-page {
    width: 100%;
    left: -1px;
    top: 72px;
  }

  .main-page-text {
    width: 500px;
    margin-left: 70px;
  }

  .main-text {
    padding-left: 90px;
    padding-top: 30px;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    width: 470px;
    height: 160px;
  }

  .profession {
    padding-left: 90px;
    font-weight: 500;
    font-size: 30px;
    width: 566px;
  }

  .main-description {
    padding-left: 70px;
    font-weight: 400;
    font-size: 16px;
    width: 443px;
    height: 123px;
    line-height: 32px;
  }

  .social-div {
    display: flex;
    flex-direction: column;
    margin-left: -398px;
  }

  .social-media {
    display: flex;
    padding-left: 62px;
    margin-top: -302px;
    margin-left: -866px;
    flex-direction: column;
  }

  .sitop1 {
    position: relative;
    left: -42px;
    top: -18px;
  }

  .sitop2 {
    position: relative;
    left: -42px;
    top: 30px;
  }

  .sitop3 {
    position: relative;
    left: -42px;
    top: 80px;
  }

  .sitop4 {
    position: relative;
    left: -42px;
    top: 130px;
  }

  .sitop5 {
    position: relative;
    left: -42px;
    top: 176px;
  }

  #background-main {
    background-image: url(./images/Illustration-header@2x.png);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position-x: right;
    background-position-y: -35px;
  }

  #desktop-nav-bar {
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-left: 21px;
    font-family: "Roboto", sans-serif;
  }

  .desktop-items {
    display: flex;
    margin-top: 143px;
    margin-left: 105px;
    position: relative;
    left: 100px;
    top: -40px;
  }

  .second-page {
    width: 80%;
    height: 1px;
    margin-left: -143px;
  }

  .second-page-div {
    margin-left: 102px;
    width: 100%;
    height: 50px;
  }

  .second-heading {
    width: 100%;
    margin-top: 181px;
    position: relative;
    margin-left: 266px;
    top: -70px;
    display: flex;
    color: #091e42;
  }

  .page2-line {
    top: -128px;
    left: 408px;
    width: 68%;
    position: relative;
  }

  .background2 {
    width: 524px;
    height: 400px;
    animation: myAnim 5s ease 0s 1 normal forwards;
  }

  @keyframes myAnim {
    0% {
      transform: translate(0);
    }

    20% {
      transform: translate(-2px, 2px);
    }

    40% {
      transform: translate(-2px, -2px);
    }

    60% {
      transform: translate(2px, 2px);
    }

    80% {
      transform: translate(2px, -2px);
    }

    100% {
      transform: translate(0);
    }
  }

  .second-background {
    position: relative;
    left: 362px;
    width: 491px;
    top: -93px;
    display: flex;
    align-items: flex-start;
  }

  .page2-para {
    position: relative;
    margin-left: 835px;
    top: -541px;
    display: flex;
    width: 43%;
    flex-direction: column;
  }

  .recent-work-heading {
    line-height: 52px;
    width: 100%;
  }

  .recent-work-para {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    width: 100%;
    height: 140px;
  }

  .recent-works-div {
    width: 100%;
    margin-left: 83px;
  }

  .recent-div {
    margin-left: -73px;
  }

  .languages {
    padding-top: 0;
    width: 353px;
    margin-left: 60px;
  }

  button {
    margin-top: 15px;
    margin-left: 84px;
  }

  .pro-text {
    display: none;
  }

  .car1 {
    display: none;
  }

  #pro-images-1 {
    top: -429px;
    margin: auto;
    left: 328px;
    background-image: url(./images/Img\ Placeholder.png);
    background-size: 91%;
    width: 410px;
  }

  .button2 {
    margin-top: 254px;
    margin-left: 5px;
    width: 325px;
    height: 52px;
    transition: 1s ease-in-out;
  }

  .button2:hover {
    transition: 1s ease-in-out;
    background: #fff;
    outline: #ff6b00;
  }

  .buttontwo {
    display: none;
  }

  .button-text2 {
    left: 3px;
    position: relative;
  }

  .professional-art-text {
    margin-top: 20px;
    padding-left: 14px;
    padding-top: 77px;
  }

  #pro-images-2 {
    top: -916px;
    left: 687px;
    height: 345px;
    background-size: 85%;
    width: 371px;
    background-image: url(./images/page2card2.png);
  }

  .hoverbutton {
    display: flex;
    width: 327px;
    margin-left: -14px;
    margin-top: -22px;
    height: 62px;
    position: relative;
    background: #ff6b00;
    opacity: 0;
    transition: 1s ease-in-out;
  }

  .hovbutt {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
    padding-left: 104px;
    padding-top: 6px;
  }

  .hovbutt:hover {
    color: #ff6b00;
  }

  .hoverbutton:hover {
    opacity: 5;
    background-color: #fdfdfd;
    border: 1px solid #ff6b00;
    padding: 5px;
    transition: 1s ease-in-out;
  }

  .hoverbutton:active {
    background-color: #ff6b00;
    color: #f4f5f7;
    transform: scale(0.98);
  }

  .hoverbutton:disabled {
    background-color: #fff;
  }

  .pro-para-text {
    width: 243px;
    margin-bottom: 50px;
    height: 79px;
    font-size: 15px;
  }

  #pro-images-3 {
    top: -1358px;
    left: 1026px;
    height: 402px;
    width: 316px;
    background-size: 100%;
    background-image: url(./images/card3.png);
  }

  #pro-images-3 .pro-para-text {
    margin-top: 76px;
  }

  .card1 {
    margin-left: -43px;
  }

  .card2 {
    margin-left: 23px;
  }

  .card3 {
    margin-left: 127px;
  }

  #pro-images-4 {
    top: -1450px;
    left: 345px;
    height: 345px;
    background-size: 94%;
    width: 338px;
    background-image: url(./images/probackground.png);
  }

  #pro-images-4 .pro-para-text {
    margin-bottom: 45px;
  }

  .pro-desktop {
    display: flex;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    margin-top: 27px;
  }

  .professional-text {
    display: none;
  }

  .professional-text-4 {
    padding-top: 9px;
  }

  #pro-images-5 {
    top: -1892px;
    left: 689px;
    height: 363px;
    background-size: 82%;
    width: 388px;
    background-image: url(./images/page2card2.png);
  }

  .pro-div {
    display: grid;
    justify-content: center;
    width: 100%;
    margin-left: 259px;
    height: 1px;
  }

  #pro-images-6 {
    top: -2352px;
    left: 1028px;
    height: 423px;
    width: 316px;
    background-size: 100%;
    background-image: url(./images/card3.png);
  }

  #pro-images-6 .pro-para-text {
    margin-top: 76px;
  }

  .about-me {
    width: 100%;
    height: 1195px;
    top: 385%;
    background-image: url(./images/about-me-background.png);
    background-size: 46%;
    background-position-x: right;
    background-position-y: 85px;
  }

  .about-me-div {
    width: 566px;
    height: 426px;
    margin-top: -26px;
    margin-left: 73px;
  }

  .about-me-text {
    padding-top: 80px;
    font-size: 72px;
    padding-left: 92px;
  }

  .about-me-para {
    padding-left: 90px;
    width: 609px;
    font-size: 20px;
    height: 148px;
    line-height: 32px;
  }

  .button3 {
    margin-left: 91px;
    margin-top: 0;
  }

  .line {
    width: 57%;
    position: relative;
    top: 135px;
  }

  .about-me-section {
    display: flex;
    justify-content: center;
    position: relative;
    top: 205px;
    left: -152px;
  }

  .square-img {
    position: absolute;
    left: 393px;
  }

  .diamond-img {
    position: absolute;
    left: -123px;
  }

  .circle-img {
    position: absolute;
    left: -69px;
  }

  .about-me-skills1 {
    position: relative;
    left: -204px;
    top: 13px;
  }

  .about-me-skills2 {
    position: relative;
    left: 22px;
    top: 13px;
  }

  .about-me-skills3 {
    position: relative;
    left: 277px;
    top: 13px;
  }

  .about-head-text-2 {
    position: relative;
    left: -24px;
  }

  .about-head-text-3 {
    position: relative;
    left: -25px;
  }

  .about-head-text-4 {
    position: relative;
    left: -28px;
  }

  .abt-sqr {
    left: -12px;
    position: relative;
  }

  .skill-1 {
    position: relative;
    left: 70px;
  }

  .skill-2 {
    display: inline;
    position: relative;
    left: 17px;
  }

  .skill-3 {
    position: relative;
    left: 51px;
    top: -72px;
  }

  .skill-4 {
    position: relative;
    left: 69px;
    top: -72px;
  }

  .skill-5 {
    position: relative;
    left: 69px;
    top: -72px;
  }

  .skill3-1 {
    position: relative;
    left: -3px;
  }

  .skill3-2 {
    position: relative;
    left: 12px;
  }

  .skill3-5 {
    position: relative;
    top: -9px;
    left: 7px;
  }

  .contact-me {
    padding-left: 88px;
    justify-content: flex-start;
  }

  .contact-me-para {
    text-align: left;
    height: 396px;
    position: relative;
    top: 20px;
    line-height: 54px;
    width: 331px;
    color: #262626;
  }

  .Name {
    color: #979493;
    width: 207px;
    position: relative;
    left: 407px;
    top: -347px;
    padding: 26px;
    margin-bottom: 5px;
  }

  .Name::placeholder {
    font-size: 15px;
  }

  .last-name {
    position: relative;
    left: 628px;
    top: -395px;
  }

  .lname {
    width: 200px;
    left: 54px;
    top: 48px;
    display: flex;
  }

  .lname::placeholder {
    font-size: 15px;
  }

  .email {
    color: #979493;
    width: 479px;
    position: relative;
    left: 407px;
    top: -253px;
    padding: 26px;
    margin-bottom: 5px;
  }

  .button4 {
    position: relative;
    top: -274px;
    left: 336px;
    padding-left: 30px;
  }

  .text-area {
    display: none;
  }

  .text-area-desktop {
    position: relative;
    top: -160px;
    width: 526px;
    left: 410px;
    display: inline;
    color: #3c3a39;
    background-color: #fbf8f7;
    font-family: "roboto", sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .text-area-desktop::placeholder {
    color: #3c3a39;
    text-align: left;
    position: relative;
    left: 10px;
    top: 10px;
  }

  .foot {
    display: none;
  }

  .social-media-dark {
    position: relative;
    top: 67px;
    padding-left: 350px;
  }

  .footer-bottom {
    width: 96%;
    display: flex;
    flex-direction: column;
    margin-left: 47px;
    margin-top: -296px;
  }

  .form-items-list {
    display: block;
    width: 0;
    height: 0;
  }

  li {
    display: block;
    width: 0;
    height: 0;
  }

  .professional-art {
    display: block;
    height: 0;
    width: 0;
    margin-left: -86px;
  }

  .abt-head1 {
    position: relative;
    left: -119px;
  }

  .abt-head2 {
    position: relative;
    left: 165px;
  }

  .abt-head3 {
    position: relative;
    left: 320px;
  }

  #pro-images-3 .hoverbutton:hover {
    width: 330px;
  }

  #pro-images-4 .hoverbutton:hover {
    width: 331px;
  }

  #pro-images-5 .hoverbutton:hover {
    margin-left: -14px;
    margin-top: -20px;
    height: 65px;
    width: 330px;
  }

  #pro-images-6 .hoverbutton:hover {
    margin-top: -26px;
    height: 65px;
    width: 331px;
  }
}
